.hero-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousal {
  width: inherit;
  position: relative;
}

.btn-hero {
  background: var(--secondary);
  outline: 1px solid var(--nav-hover);
  font-size: 1.5rem;
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 1200px) {
  .carousal {
    max-width: 120rem;
  }

  .btn-hero {
    font-size: 2.25rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .btn-hero {
    top: 120%;
  }
}
