.cart-main {
  max-width: 100rem;
  margin: auto;
  height: calc(100vh - 6rem);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .cart-main {
    flex-direction: column;
    height: auto;
    padding-bottom: 5rem;
  }
}
