.checkout-main {
  max-width: 100rem;
  margin: auto;
  min-height: calc(100vh - 6rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 5rem;
  padding: 5rem 0;
  min-height: calc(100vh - 6rem);
}

.order-summary-wrapper {
  background-color: var(--white);
  padding: 2rem 2rem 0 2rem;
  border-radius: 5px;
}

.order-summary-wrapper .heading {
  color: var(--black);
  font-size: 3rem;
  padding: 0;
  width: 100%;
}

.order-summary {
  font-size: 2rem;
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--secondary);
  border-radius: 10px;
  color: var(--white);
  min-width: 32rem;
}

.order-summary-list-heading {
  border-bottom: 1px solid var(--white);
  font-weight: 500;
}

.order-summary li {
  list-style: none;
  padding: 5px 0;
  width: 100%;
  position: relative;
}

.order-summary span {
  position: absolute;
  right: 0;
  font-weight: 500;
}

.order-summary-wrapper .address-details-wrapper {
  padding-inline: 1rem;
}
