.login-signup-main {
  height: calc(100vh - 6rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-signup-main input {
  display: block;
  width: 100%;
}

#login-remember-me {
  width: auto;
  display: inline;
  margin-right: 5px;
}

.admin-login {
  margin-left: auto;
  padding: 0;
  color: var(--primary);
}

.signup-text-input {
  height: 3.25rem;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid var(--black);
}

.signup-container {
  height: auto;
}
