.user-main {
  min-height: calc(100vh - 6rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 5rem;
}

.user-main .heading {
  padding-bottom: 0;
}

.profile-details li {
  list-style: none;
}

.profile-details-wrapper,
.address-details-wrapper {
  margin: 2rem 0;
  background-color: var(--secondary);
  color: var(--white);
  padding: 2rem;
  border-radius: 10px;
  position: relative;
  min-height: 10rem;
}

.profile-details {
  display: flex;
  font-size: 2rem;
  margin-top: 1rem;
}

.list-heading {
  text-align: right;
}

.list-content {
  text-align: left;
  font-weight: 500;
  padding-inline-start: 5px;
}

.profile-heading,
.address-heading {
  text-align: center;
  border-bottom: 1px solid var(--white);
  margin-bottom: 1rem;
}

.avatar {
  margin: auto;
}

.eye-btn {
  position: absolute;
  right: 40%;
  bottom: 1px;
  cursor: pointer;
  margin-left: auto;
  color: var(--black);
}

.list-content li:last-child {
  position: relative;
}

.user-orders-summary-wrapper {
  background-color: var(--secondary);
  padding: 2rem 1rem;
  border-radius: 10px;
  margin: 2rem 0;
}

.orders-heading {
  color: var(--white);
  font-size: 2.5rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--white);
}

.user-order {
  color: var(--white);
  font-size: 2rem;
  background-color: var(--primary);
  padding: 1rem;
  border-radius: 10px;
  margin: 2rem 0;
}

.wrap {
  width: 12.5rem;
  display: inline-block;
}

.address-details-wrapper,
.user-orders-summary-wrapper,
.profile-details-wrapper {
  min-width: 40rem;
}

.no-orders {
  color: var(--white);
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  font-weight: 500;
}

.profile-nav {
  display: flex;
  /* background-color: var(--black); */
}

.tab {
  background: var(--black);
  color: var(--white);
  font-size: 2.2rem;
  padding: 0.7rem;
  border-bottom: 3px solid var(--black);
  min-width: max-content;
  cursor: pointer;
  padding-inline: 1.5rem;
  text-align: center;
}

.tab-selected {
  color: var(--nav-hover);
  border-bottom: 3px solid var(--nav-hover);
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .profile-details {
    font-size: 1.75rem;
  }
}
