.wishlist-main {
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 6rem);
}

.heading {
  font-size: 3.5rem;
  font-weight: 600;
  padding: 3rem 0;
  text-align: center;
}

.empty-wishlist,
.empty-cart {
  font-size: 2.7rem;
}

.empty-wishlist a,
.empty-cart a {
  text-decoration: underline;
  color: var(--nav-hover);
}

.wishlist-main .card {
  background-color: var(--white);
  margin: 1.5rem;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 120rem;
  margin: auto;
}

@media screen and (max-width: 500px) {
  .wishlist-main {
    height: auto;
  }

  .heading {
    margin-bottom: 0;
  }

  .cards-wrapper {
    flex-direction: column;
    margin-bottom: 5rem;
  }
}

/* @media screen and (max-width: 670px) {
  .navigation-container {
    gap: 0rem;
  }

  .navigation-container input {
    display: none;
  }
} */
