header {
  height: 6rem;
}

.navigation-container {
  background-color: var(--black);
  gap: 1rem;
}

.search-desktop {
  display: block;
}

.search-mobile {
  display: none;
}

.header-badge {
  position: absolute;
  top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 2px;
  min-width: 1.5rem;
  min-height: 1.5rem;
  border-radius: 50%;
  background-color: var(--secondary);
}

.wishlist-badge {
  right: 65px;
}

.cart-badge {
  right: 15px;
}

.search-wrapper {
  border: none;
  color: black;
  background-color: inherit;
  font-size: 1.5rem;
}

/* To override search option css */
.css-9gakcf-option {
  background-color: var(--white) !important;
  color: var(--black) !important;
}

.theme-toggle {
  cursor: pointer;
}

.theme-toggle:hover {
  color: var(--nav-hover);
}

.logout-btn {
  margin-right: 1rem;
}

@media screen and (max-width: 680px) {
  header {
    height: 10.5rem;
    background-color: var(--black);
  }

  .search-desktop {
    display: none;
  }

  .search-mobile {
    padding: 0;
    display: block;
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 450px) {
  .navigation-container {
    padding: 0 1rem;
  }

  .nav-links {
    margin-left: 1rem;
  }
}
