.filter {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  width: 20rem;
  padding: 2rem 0;
  border-bottom: 1px solid var(--black);
}

.filter-heading {
  flex-direction: row;
  justify-content: space-between;
}

.filter-clear {
  font-size: 1.5rem;
  color: inherit;
  text-decoration: none;
}

.filter-price-range {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.products-filter-aside label {
  font-size: 1.5rem;
  cursor: pointer;
  display: block;
  padding-top: 7px;
}

.products-filter-aside input {
  margin-right: 5px;
}
