.card-rating {
  position: absolute;
  right: 10px;
  top: 77%;
  font-size: 1.7rem;
  font-weight: 500;
}

.card-rating i {
  color: #ffdf00;
}

.card {
  height: 39rem;
}

.card .card-title:hover {
  text-decoration: underline;
}

.card-text-overlay {
  height: 25rem;
  background: #ebecf0;
}

.products-main .btn-outline,
.wishlist-main .btn-outline,
.product-detail-main .btn-outline {
  color: var(--secondary);
  background-color: transparent;
  padding: 9px 7.5px;
  border: 1px solid var(--secondary);
  cursor: not-allowed;
}

.card-favourite {
  background-color: var(--white);
  padding: 3px 2px 1px 2px;
  border-radius: 50%;
  z-index: 1;
}
