.products-body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "header header header header header"
    "sidebar main main main main"
    "sidebar main main main main"
    "sidebar main main main main";
  color: var(--black-light);
}

header {
  grid-area: header;
}

.products-filter-aside {
  grid-area: sidebar;
  height: 93.5vh;
  position: sticky;
  top: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  box-shadow: 1px -0.1px 0px 0px var(--shadow-grey);
}

.products-main {
  grid-area: main;
  padding: 3rem 1rem;
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 2rem 1rem;
}

.loading-screen {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 5rem;
}

.filter-mobile-btn,
.close-filter-btn {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 740px) {
  .products-body {
    grid-template-areas:
      "header header header header header"
      "main main main main main"
      "main main main main main"
      "main main main main main";
  }

  .products-main {
    justify-content: center;
    padding: 3rem 0;
  }

  .products-filter-aside {
    display: none;
    position: relative;
  }

  .filter-mobile {
    position: fixed;
    display: block;
    z-index: 10;
    background-color: var(--white);
    top: 6.5rem;
  }

  .close-filter-btn {
    display: block;
    position: absolute;
    right: 2rem;
    top: 1rem;
    color: var(--danger);
  }

  .filter-mobile-btn {
    display: block;
    margin: 2rem 0 0 2rem;
  }

  .dark-mode-class .filter-mobile-btn {
    color: var(--white);
  }

  .dark-mode-class .filter-mobile {
    color: var(--white);
    background-color: var(--dark-mode-bg);
  }
}

@media screen and (max-width: 680px) {
  .filter-mobile {
    top: 10.5rem !important;
    height: 100vh;
  }
}

@media screen and (min-width: 1350px) {
  .products-body {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "header header header header header header"
      "sidebar main main main main main"
      "sidebar main main main main main"
      "sidebar main main main main main";
  }
}

@media screen and (min-width: 1600px) {
  .products-body {
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
      "header header header header header header header"
      "sidebar main main main main main main"
      "sidebar main main main main main main"
      "sidebar main main main main main main";
  }
}

@media screen and (max-width: 500px) {
  .products-main {
    grid-gap: 0;
  }

  .products-main .card {
    transform: scale(0.95);
  }
}
