@import url("https://cobra-ui.netlify.app/public/light-theme.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

body {
  background-color: var(--white-light);
}

.Toastify__toast-body {
  font-size: 1.5rem;
}

.dark-mode-class {
  background: #162538;
}

.dark-mode-class .heading {
  color: var(--white);
}

.dark-mode-class aside {
  color: var(--white);
}

.dark-mode-class .card {
  background: var(--white);
}
